@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --poppins: Poppins, serif;
  --inter: "Inter", sans-serif;
  --overlay: #232222;
  --white: #ffffff;
  --main-green: #4d8b55;
  --heading-size: 7.5rem;
  --heading-line-h: 120px;
  --text-size: 2rem;
  --text-line-h: 2rem;
  --font-subheaders-letterspacing: -0.5px;
  --mx: 1600px;
  --transition: all 0.3s ease;
  --hovercolor: #efece5;
  --first-color: hsl(190, 64%, 22%);
  --hue-color: 190;
  /* HSL color mode */
  --first-color: hsl(190, 64%, 22%);
  --first-color-second: hsl(190, 64%, 22%);
  --first-color-alt: hsl(190, 64%, 15%);
  --title-color: hsl(190, 64%, 18%);
  --text-color: hsl(190, 24%, 35%);
  --text-color-light: hsl(190, 8%, 60%);
  --input-color: hsl(190, 24%, 97%);
  --body-color: hsl(190, 100%, 99%);
  --white-color: gray;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

html,
body {
  line-height: 1.6;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter);
}

img {
  width: 100%;
  display: block;
}

header * {
  color: #fff;
}

.navbar__logo {
  width: 100px;
  padding: 24px 0 0px;
  margin: 0;
  display: block;
  max-width: initial;
  position: absolute;
  left: 50%;
}

.navbar__logo .logo {
  z-index: 2;
}

.nav__menu {
  position: absolute;
  right: 45%;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    background-color: var(--white);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    -webkit-box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
            box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.nav__close {
  position: absolute;
  right: 27px;
  top: 35px;
  font-size: 3.5rem;
  color: var(--first-color);
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
  left: 0;
}

.nav__link {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: var(--poppins);
}

/* show menu */
.show-menu {
  right: 0;
}

.header__container {
  position: relative;
}

.header__container .nav__toggle {
  display: none;
  font-size: 2.2rem;
  cursor: pointer;
  background-image: none;
  height: 30px;
  width: 27px;
  margin: 0 0 0 0;
  margin-top: 0px;
  padding: 0;
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lte-headerss {
  text-align: center;
  font-size: 5rem;
  font-family: var(--poppins);
}

.lte-header-2 {
  text-align: center;
  font-size: 2rem;
  color: var(--main-green);
  font-family: var(--poppins);
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/beans.jpg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/beans.jpg) center/cover no-repeat fixed;
  min-height: 95vh;
}

.header .navbar__container {
  position: relative;
  max-width: var(--mx);
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header .navbar__container .navbar__socials {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  left: 15px;
  right: auto;
}

.header .navbar__container .social__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__container .social__follow .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 12px;
}

.header .navbar__container .social__follow .navbar__icons ul {
  margin: 0 0 0 -28px;
  padding: 0;
}

.header .navbar__container .social__follow .social-icons ul li {
  padding: 0px 15px;
  position: relative;
}

.header .navbar__container .social__follow .social-icons ul li::before {
  content: "";
  border: 1px solid var(--main-green);
  border-color: var(--main-green);
  border-radius: 50%;
  background-clip: border-box;
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}

.header .navbar__container .social__follow .social-icons ul li .uil {
  color: var(--main-green);
  font-size: 16px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.header .navbar__container .navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar__container .navbar__icons li {
  padding: 0px 15px;
  position: relative;
}

.header .navbar__container .navbar__icons li::before {
  content: "";
  border: 1px solid var(--main-green);
  border-color: var(--main-green);
  border-radius: 50%;
  background-clip: border-box;
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}

.header .navbar__container .navbar__icons .uil {
  color: var(--main-green);
  font-size: 16px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.navbar__items ul {
  -webkit-transform: translateX(45%);
          transform: translateX(45%);
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__items ul li {
  padding: 0 15px;
  font-size: 1.2rem;
  font-family: var(--inter);
}

.header-content {
  z-index: 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 150px;
}

.header-content .title-heading {
  color: var(--white);
  font-size: var(--heading-size);
  line-height: 1.2;
  letter-spacing: 1px;
}

.header-content .title-heading span {
  color: var(--main-green);
}

.header-content .text {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.7em;
  font-family: "Jost", sans-serif;
  font-family: var(--poppins);
  font-weight: 400;
  letter-spacing: var(--font-main-letterspacing);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  background-color: #343c35;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%234d8b55' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  padding-top: 20px;
}

.hero__image {
  max-width: var(--mx);
  display: block;
  margin-top: -400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.hero__image img {
  height: auto;
  max-width: 100%;
  width: 700px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero__container {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  max-width: var(--mx);
  padding: 0 50px;
}

.hero-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--mx);
}

.hero-row .hero__text {
  width: 50%;
}

.hero-row .hero__text-wrap {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-row .hero__text-wrap .wraps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 0px;
}

.hero-row .hero__pic {
  width: 50%;
  width: 600px;
  margin-left: 100px;
  position: relative;
}

.wrap-heading {
  font-size: 4rem;
  color: black;
}

.wrap-heading span {
  color: var(--main-green);
}

.ptext {
  margin-top: 0;
  font-size: 1.8rem;
  line-height: 1.7em;
  font-family: var(--poppins);
  font-weight: 400;
  letter-spacing: var(--font-main-letterspacing);
}

.hero__contact-container {
  margin: 30px 0px 48px 32px;
}

.hero__contact-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__contact-container ul .inner-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: var(--inter);
}

.hero__contact-container ul .inner-icon i {
  padding: 0 10px;
  color: var(--main-green);
  font-size: 2.3rem;
}

.btn {
  position: relative;
  overflow: hidden;
  background-clip: border-box !important;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.25s, color 0.25s, border 0.25s !important;
  transition: background 0.25s, color 0.25s, border 0.25s !important;
  border-radius: 48px;
  background-clip: border-box;
  font-family: var(--poppins);
  font-weight: 700;
  letter-spacing: var(--font-headers-letterspacing);
  font-size: 16px;
  padding: 14px 38px 14px 38px;
  min-width: 145px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid var(--main);
  background-color: #4d8b55;
  border-color: #4d8b55;
  border-color: var(--main);
  color: #ffffff;
  color: var(--white);
  cursor: pointer;
  border: none;
  display: inline-block;
  z-index: 1;
  outline: none;
}

.btn-green:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-green);
  z-index: -2;
}

.btn-green:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-green);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.btn-green:hover {
  color: #fff;
}

.btn-green:hover:before {
  width: 100%;
}

.btn-black {
  margin-left: 15px;
  background-color: black;
}

.circle-container {
  position: absolute;
  top: 55px;
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
}

.circle-dashed-info {
  width: 155px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-clip: border-box;
  background-color: var(--white);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.circle-dashed-info::after {
  content: "";
  border-radius: 50%;
  background-clip: border-box;
  width: 185px;
  height: 185px;
  position: absolute;
  border: 3px dashed var(--main-green);
  border-color: var(--main-green);
}

.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}

.lt-header {
  font-size: 3rem;
  color: var(--main-green);
  font-family: var(--poppins);
}

.subheader {
  font-size: 1.2rem;
  color: black;
  padding-top: 0;
  font-family: var(--poppins);
}

.products {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(/img/bg-products.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/bg-products.jpg) center/cover no-repeat;
  padding: 50px 0;
}

.products__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__wrap {
  margin: 0 auto;
  max-width: var(--mx);
  min-height: 100vh;
}

.products__heading {
  text-align: center;
  line-height: 1.4;
  padding: 0 50px;
}

.products__heading h6 {
  font-size: 2.2rem;
  font-family: var(--poppins);
  color: black;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  min-width: 600px;
  margin-top: 75px;
  padding: 0;
}

.image-wrapper {
  border-radius: 50%;
  background-clip: border-box;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 260px;
}

.image-wrapper .lte-img {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  display: block;
  border-radius: 50%;
  background-clip: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-position: 50%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.image-wrapper .lte-img:hover {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.image-wrapper .count-label {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  left: -24px;
  background-color: var(--main-green);
  border-radius: 50%;
  padding: 5px;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: var(--main-green);
  color: #ffffff;
  color: var(--white);
  border-radius: 50%;
  background-clip: border-box;
  font-size: 36px;
  font-family: "Poppins", serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  letter-spacing: var(--font-headers-letterspacing);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lte-headers {
  text-align: center;
  line-height: 1.4;
  font-size: 2.5rem;
  font-family: var(--poppins);
  color: black;
  margin-top: 25px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.lte-headers:hover {
  color: var(--main-green);
}

.lte-excerpt {
  text-align: center;
  padding: 0 15px;
  padding-top: 15px;
  line-height: 1.5;
  color: #232222;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: var(--poppins);
}

.aroma {
  width: 100%;
}

.aroma .aroma-container {
  margin: 0 auto;
  padding: 0 auto;
}

.aroma .aroma-container .aroma-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  width: 100%;
}

.aroma .aroma-container .aroma-row .aroma-img {
  width: 33.333%;
  background-image: url(/img/aroma_photo_01.jpg);
  background-size: cover !important;
}

.aroma .aroma-container .aroma-row .aroma-text {
  width: 33.333%;
  background-color: var(--main-green);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 139, 85, 0.8)), to(rgba(77, 139, 85, 0.8))), url(/img/coffee-plant-transparent.png) center/cover no-repeat;
  background: linear-gradient(rgba(77, 139, 85, 0.8), rgba(77, 139, 85, 0.8)), url(/img/coffee-plant-transparent.png) center/cover no-repeat;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content {
  padding-top: 150px;
  padding-left: 30px;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content .aroma-headers {
  line-height: 1.4;
  font-size: 6.4rem;
  font-family: var(--poppins);
  color: white;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content span {
  color: black;
  font-size: 6.4rem;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content .aroma-p {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 1.7em;
  font-family: var(--poppins);
  font-weight: 400;
  color: white;
  letter-spacing: var(--font-main-letterspacing);
  padding: 0 10px;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content .aroma-btn {
  margin-top: 75px;
}

.aroma .aroma-container .aroma-row .aroma-img-two {
  background-image: url(/img/aroma_photo_02.jpg);
  background-size: cover !important;
  width: 33.333%;
}

.coffee {
  width: 100%;
  padding-bottom: 100px;
}

.coffee .coffee__container {
  margin: 0 auto;
  min-height: 100 vh;
  max-width: 1780px;
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.coffee .coffee__container .coffee__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee .coffee__container .coffee__row .coffee__text-1 {
  width: 25%;
  height: 100%;
  margin-top: 250px;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons {
  list-style: none;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li {
  margin-bottom: 90px;
  width: 100%;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-grades .icon {
  margin-right: 15px;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-grades img {
  width: 50px;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-content {
  margin: -5px 0 0 25px;
  -webkit-margin-start: 25px;
          margin-inline-start: 25px;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-content .lte-desc {
  font-size: 1.6rem;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  margin-top: 0px;
  display: block;
  padding-right: 15px;
  line-height: 1.7;
}

.coffee .coffee__container .coffee__text-2 {
  width: 25%;
  height: 100%;
  margin-top: 250px;
}

.coffee .coffee__container .coffee__text-2 .coffee-inner-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 90px;
}

.coffee .coffee__container .coffee__text-2 .coffee-inner-2 .icon-quality .icon {
  margin-left: 15px;
}

.coffee .coffee__container .coffee__text-2 .coffee-inner-2 .icon-quality img {
  width: 50px;
}

.coffee .coffee__container .coffee__text-2 .lte-desc-2 {
  font-size: 1.6rem;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  margin-top: 0px;
  display: block;
  line-height: 1.7;
  text-align: right;
}

.coffee .coffee__container .coffee__pic {
  width: 50%;
  margin-top: 150px;
}

.coffee-video {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/overlay-bg.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/overlay-bg.jpg) center/cover no-repeat;
  height: 100vh;
}

.coffee-video .video-container {
  margin: 0 auto;
  max-width: 1780px;
}

.coffee-video .video-container .video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coffee-video .video-container .video-wrapper .videospacer {
  height: 175px;
  width: 100%;
}

.coffee-video .video-container .video-wrapper .video-headline {
  text-align: center;
  color: white;
}

.coffee-video .video-container .video-wrapper .video-headline .video-heading {
  font-size: 7rem;
  color: var(--main-green);
  font-family: var(--poppins);
}

.coffee-video .video-container .video-wrapper .video-watch {
  text-align: center;
  color: white;
}

.coffee-video .video-container .video-wrapper .video-watch .watch-heading {
  font-size: 8rem;
  font-family: var(--poppins);
}

.coffee-video .video-container .video-wrapper .video-btn {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 50px;
}

.coffee-video .video-container .video-wrapper .video-btn .uil-play {
  color: white;
}

.numbers {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(/img/green_parallax.jpg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/green_parallax.jpg) center/cover no-repeat fixed;
}

.numbers .numbers-container {
  height: 500px;
  margin: 0 auto;
  max-width: 1780px;
}

.numbers .numbers-container .number-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers .numbers-container .number-wrapper .number-figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers .numbers-container .number-wrapper .numberspacer {
  height: 75px;
  padding: 0;
  width: 100%;
}

.numbers .numbers-container .number-wrapper .down {
  padding-bottom: 50px;
  height: 150px;
}

.numbers .numbers-container .number-wrapper .number-figs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 100px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 0 200px;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex .count-heading {
  font-family: var(--poppins);
  line-height: 1em;
  position: relative;
  margin-bottom: 6px;
  color: white;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex .count-heading .count-anim {
  font-size: 10rem;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex .subheader-count {
  margin: 0px 0 0;
  font-size: 24px;
  color: white;
}

.store {
  width: 100%;
}

.store .store-container {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1780px;
}

.store .store-container .store-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store .store-container .store-wrapper .storespacer {
  height: 150px;
  padding: 0;
  width: 100%;
}

.store .store-container .store-wrapper .storespacer-2 {
  height: 50px;
  background-color: white;
  width: 100%;
}

.store .store-container .store-desc {
  padding: 0 15px;
  text-align: center;
}

.store .store-container .store-desc p {
  margin-bottom: 50px;
  font-size: 1.5rem;
  line-height: 1.7em;
  font-family: var(--poppins);
  font-weight: 400;
  letter-spacing: var(--font-main-letterspacing);
}

.store .store-container .store-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.store .store-container .store-image-wrapper .store-image {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 0px;
  background-clip: border-box;
  padding: 0 0 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.store .store-container .store-image-wrapper .store-image img {
  max-width: 100%;
  width: 500px !important;
  height: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0 auto 0 !important;
  border-radius: 0px;
  background-clip: border-box;
}

.store .store-container .store-image-wrapper .store-text {
  width: 50%;
  padding-top: 76px;
  text-align: left;
}

.store .store-container .store-image-wrapper .store-text .store-heading {
  text-align: center;
}

.store .store-container .store-image-wrapper .store-text .store-heading h6 {
  color: var(--main-green);
  font-size: 3rem;
}

.store .store-container .store-image-wrapper .store-text .store-header {
  text-align: left;
  line-height: 1.4;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: var(--poppins);
  color: black;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.store .store-container .store-image-wrapper .store-text .text-excerpt {
  padding: 0;
  margin: 15px 0 0;
  font-size: 18px;
  opacity: 0.8;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  font-family: var(--poppins);
  text-align: start;
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .check {
  padding-left: 45px;
  margin-left: 20px;
  display: inline-block;
  -webkit-padding-start: 45px;
          padding-inline-start: 45px;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .check li {
  margin-bottom: 5px;
  list-style: none outside;
  text-align: start;
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .check li::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 14px;
  border-radius: 50%;
  background-clip: border-box;
  margin-left: -28px;
  margin-right: 15px;
  margin-top: 2px;
  color: #4d8b55;
  color: var(--main-green);
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .check p {
  margin-bottom: 50px;
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .price {
  margin-bottom: 50px;
  margin-top: 20px;
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .price del {
  line-height: 1.7em;
  color: gray;
  font-family: var(--poppins);
  font-size: 2.4rem;
  font-weight: 700;
}

.store .store-container .store-image-wrapper .store-text .text-excerpt .price ins {
  line-height: 1.7em;
  color: red;
  font-family: var(--poppins);
  font-size: 2.4rem;
  font-weight: 700;
  margin-left: 10px;
}

.prod {
  width: 100%;
  margin-top: 150px;
}

.prod .prod-container {
  height: 70vh;
  margin: 0 auto;
  max-width: 1780px;
}

.prod .prod-container .product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prod .prod-container .prod-list {
  width: 25%;
}

.prod .prod-container .prod-list .prod-item {
  padding: 0 50px;
}

.prod .prod-container .prod-list .prod-item .prod-desc {
  text-align: center;
  font-family: var(--poppins);
  font-size: 1rem;
  color: black;
  margin-top: 25px;
}

.prod .prod-container .prod-list .prod-item .prod-desc .price {
  font-family: var(--poppins);
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--main-green);
}

.prod .btn-wrap img {
  max-width: 100%;
  width: 325px !important;
  height: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0 auto 0 !important;
  border-radius: 0px;
  background-clip: border-box;
}

.footer {
  background-image: url(/img/footer-bg.jpg);
  background-size: cover;
  width: 100%;
  margin-top: 100px;
  color: var(--white);
  padding: 0;
  padding-bottom: 0px;
  position: relative;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.footer .footer-container {
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
  max-width: 1780px;
}

.footer .footer-container .row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .row-center .footer-col {
  width: 33.33333333%;
}

.footer .footer-container .row-center .footer-col .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-logo {
  float: left;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-logo img {
  max-width: 85px !important;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-text {
  margin-top: 20px;
  font-family: var(--poppins);
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-socials ul li {
  padding: 0 10px;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-socials ul li a {
  color: var(--main-green);
  border-radius: 50%;
  background-clip: border-box;
  position: relative;
  z-index: 10;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .footer-socials ul li a:hover {
  color: white;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .fcon-header {
  padding: 0px 0px 6px;
  margin: 0px 0 40px 0;
  font-size: 24px;
  line-height: 1.2em;
  text-align: start;
  font-family: var(--poppins);
  font-weight: 700;
  letter-spacing: var(--font-headers-letterspacing);
  display: block;
  background-image: none !important;
  position: relative;
  text-transform: none;
  color: #4d8b55;
  color: var(--main-green);
}

.footer .footer-container .row-center .footer-col .footer-wrapper .fcon-header::after {
  content: "";
  margin-top: 4px;
  border-bottom: 2px solid var(--main-green);
  border-color: var(--main-green);
  display: block;
  width: 250px;
  color: var(--main-green);
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .contact-icons {
  display: inline-block;
  text-align: start;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .contact-icons li {
  text-transform: none;
  padding: 0px 0 0px 40px;
  position: relative;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  margin: 26px 0 0px 0 !important;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .contact-icons .lte-ic {
  font-size: 2.2rem;
  position: absolute;
  left: 0px;
  top: 4px;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: var(--main-green);
  border-radius: 50%;
  background-clip: border-box;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 0px;
}

.footer .footer-container .row-center .footer-col .footer-wrapper .contact-icons .locat-header {
  display: block;
  font-size: 1.6rem;
  font-family: var(--poppins);
  font-weight: 600;
  color: var(--main-green);
}

.footer .footer-container .row-center .footer-col .footer-wrapper .contact-icons .locat-text {
  font-size: 1.6rem;
  line-height: 1.6em;
  display: block;
  color: white;
  font-family: var(--poppins);
}

.footer .footer-container .row-center .footer-col .footer-wrapper .sub-widget {
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  text-align: start;
  margin: 0px 0 0;
}

.footer .footer-copyright {
  margin: 0 auto;
  max-width: 1780px;
  margin-top: 100px;
  position: relative;
  color: #ffffff;
  color: var(--white);
  text-align: start;
  padding: 24px 0 20px;
  overflow: hidden;
  bottom: 0;
}

.footer .footer-copyright::before {
  content: "";
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.footer .footer-copyright a {
  color: var(--main-green);
}

.footer .footer-copyright p {
  font-family: var(--poppins);
}

.sub-form {
  position: relative;
  background: transparent;
  padding: 0 0;
  margin: 0 0 0 auto;
  max-width: 63rem;
  font-size: 1.6rem;
}

.sub-form .form-fields {
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.sub-form .form-fields .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.sub-form .form-fields .input-group #email-input {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 16px;
  padding: 26px 25px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 48px;
  background-clip: border-box;
  font-family: "Jost", sans-serif;
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
  letter-spacing: var(--font-main-letterspacing);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
}

.sub-form .form-fields .input-group .input-group-append {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1px;
}

.sub-form .form-fields .input-group .input-group-append .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1px;
}

.sub-form .form-fields .input-group .input-group-append .btn-wrapper .btn-main {
  margin-left: -60px;
  -webkit-margin-start: -60px;
          margin-inline-start: -60px;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  font-size: 16px;
  padding: 22px 45px 18px !important;
  min-width: 220px;
}

.sub-form .form-fields .input-group .btn-main,
.sub-form .form-fields .input-group input[type="button"],
.sub-form .form-fields .input-group input[type="submit"],
.sub-form .form-fields .input-group .lte-btn {
  position: relative;
  overflow: hidden;
  background-clip: border-box !important;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.25s, color 0.25s, border 0.25s !important;
  transition: background 0.25s, color 0.25s, border 0.25s !important;
  border-radius: 48px;
  background-clip: border-box;
  font-family: "Poppins", serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  letter-spacing: var(--font-headers-letterspacing);
  font-size: 16px;
  padding: 14px 38px 14px 38px;
  min-width: 145px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid var(--main-green);
  background-color: #4d8b55;
  background-color: var(--main-green);
  border-color: #4d8b55;
  border-color: var(--main-green);
  color: #ffffff;
  color: var(--white);
  cursor: pointer;
}

.sub-form .terms {
  position: absolute;
  top: 100px;
  margin-right: 4px;
}

.sub-form .terms a {
  color: white;
}

.circle-dashed-info:hover::after {
  -webkit-animation: spin6 15s infinite linear;
          animation: spin6 15s infinite linear;
}

@-webkit-keyframes spin6 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin6 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 1197px) {
  .navbar__socials {
    display: block;
  }
  .navbar__iconss {
    display: block;
  }
  .navbar__logo {
    left: 48%;
  }
  .products__pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aroma-container {
    min-height: 100vh;
  }
  .aroma-img,
  .aroma-img-two {
    display: none;
  }
  .aroma-text {
    min-width: 100%;
    padding-left: 50px;
  }
  .aroma-text .aroma-p {
    padding: 0 200000px;
  }
  .number-figures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .coffee__row .coffee__text-1,
  .coffee__row .coffee__text-2 {
    margin-top: 0;
  }
  .footer-container .subs {
    display: none;
  }
  .footer-container .col-logo {
    margin-left: 100px;
  }
  .footer-container .col-info {
    margin-left: 100px;
  }
  .footer-copyright p {
    margin-left: 100px;
  }
  .coffee .coffee__container .coffee__pic {
    width: 50%;
    margin-top: 450px;
  }
}

@media screen and (max-width: 768px) {
  .header__container .nav__toggle {
    display: inline-block;
  }
  .navbar__iconss {
    display: none;
  }
  .navbar__socials {
    display: none;
  }
  .hero__image img {
    width: 550px;
  }
  .hero-row .hero__pic {
    padding: 50px 0;
  }
  .hero-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__text {
    min-width: 100%;
    padding-top: 50px;
  }
  .coffee__pic {
    display: none;
  }
  .coffee__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coffee .coffee__container .coffee__row .coffee__text-1 {
    width: 100%;
    margin-top: 0;
  }
  .coffee .coffee__container .coffee__row .coffee__text-2 {
    width: 100%;
    margin-top: 0;
  }
  .coffee-inner-2 {
    text-align: start;
  }
  .coffee-video .video-container .video-wrapper .video-headline .video-heading {
    font-size: 5rem;
  }
  .coffee-video .video-container .video-wrapper .video-watch .watch-heading {
    font-size: 5rem;
  }
  .store-image-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store .store-container .store-image-wrapper .store-image {
    width: 75%;
  }
  .store .store-container .store-image-wrapper .store-text {
    width: 75%;
    padding-left: 50px;
  }
  .prod-list {
    min-width: 50%;
  }
  .prod {
    padding-bottom: 80px;
  }
  .prod-container {
    min-height: 100vh;
  }
  .products__wrap {
    padding: 0 15px;
  }
  .nav__link {
    color: var(--first-color);
  }
}

@media screen and (max-width: 599px) {
  .row-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    z-index: -1;
    margin-top: 1270px;
  }
  .footer .footer-container .row-center .footer-col {
    width: 100%;
  }
  footer .footer-container .row-center .footer-col .footer-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container .col-logo {
    margin-left: 0px;
  }
  .footer-container .col-info {
    margin-left: 0px;
    margin-top: 50px;
  }
  .footer-text {
    text-align: center;
  }
  .prod .prod-container .prod-list {
    width: 100%;
  }
  .prod-container {
    min-height: 100vh;
  }
  .product-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .store .store-container .store-image-wrapper .store-image {
    margin-left: 25px;
  }
  .prod .prod-container {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first {
    margin-bottom: 15px;
  }
  .header-content .title-heading {
    font-size: 5rem;
    margin-bottom: 25px;
  }
  .text p {
    font-size: 1.4rem;
  }
  .hero-row .hero__pic {
    width: 500px;
    margin: 50px 0;
    margin-left: 50px;
  }
  .wraps__text .heading {
    text-align: center;
  }
  .ptext {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .products__wrap {
    min-height: 50vh;
  }
}

/* For small devices */
@media screen and (max-width: 345px) {
  .navbar__logo {
    left: 35%;
  }
  .header-content .title-heading {
    font-size: 3.7rem;
    margin-bottom: 25px;
  }
  .header-content .text {
    font-size: 16px;
  }
  .hero__image {
    padding: 0 15px;
  }
  .hero {
    min-height: 250px;
  }
  .wrap-heading {
    font-size: 2.7rem;
  }
  .ptext {
    font-size: 1.7rem;
    line-height: 1.5em;
  }
  .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-green {
    margin-bottom: 10px;
  }
  .btn-black {
    margin-top: 10px;
    margin-left: 0%;
  }
  .hero-row .hero__pic {
    width: 324px;
    margin: 50px 0;
  }
  .circle-container {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  .circle-dashed-info {
    width: 110px;
    height: 110px;
  }
  .circle-dashed-info::after {
    width: 120px;
    height: 120px;
  }
  .products__heading {
    padding: 0 0px;
  }
  .products__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-wrapper .lte-img {
    width: 225px;
    height: 225px;
  }
  .count-label {
    width: 50px;
    height: 50px;
    left: 10px;
  }
  .image-wrapper .count-label {
    left: 0px;
  }
  .aroma .aroma-container .aroma-row .aroma-text .lte-heading-content {
    padding-top: 50px;
    padding-left: 0px;
  }
  .aroma {
    min-height: 100%;
  }
  .coffee-video .video-container .video-wrapper .video-headline {
    padding: 0 10px;
    line-height: 1.2;
  }
  .coffee-video .video-container .video-wrapper .video-watch .watch-heading {
    font-size: 4rem;
  }
  .store .store-container .store-image-wrapper .store-text .text-excerpt p {
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
  }
  .aroma-text {
    padding-left: 30px;
  }
  .aroma
.aroma-container
.aroma-row
.aroma-text
.lte-heading-content
.aroma-headers {
    font-size: 4.4rem;
  }
  .footer {
    margin-top: 794px;
  }
  .footer .footer-container .row-center .footer-col {
    padding: 0 10px;
  }
  .contact-info {
    padding: 0 15px;
  }
  .footer .footer-copyright {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .store .store-container .store-image-wrapper .store-text .store-header {
    font-size: 2rem;
    text-align: center;
  }
  .nav__close {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */