@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --poppins: Poppins, serif;
  --inter: "Inter", sans-serif;
  --overlay: #232222;
  --white: #ffffff;
  --main-green: #4d8b55;
  --heading-size: 7.5rem;
  --heading-line-h: 120px;
  --text-size: 2rem;
  --text-line-h: 2rem;
  --font-subheaders-letterspacing: -0.5px;
  --mx: 1600px;
  --transition: all 0.3s ease;
  --hovercolor: #efece5;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

html,
body {
  line-height: 1.6;
}

html {
  font-size: 10px;
}

a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--inter);
}

img {
  width: 100%;
  display: block;
}

header * {
  color: #fff;
}

.navbar__logo {
  width: 100px;
  padding: 24px 0 0px;
  margin: 0;
  display: block;
  max-width: initial;
  position: relative;
}

.navbar__logo .logo {
  z-index: 2;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/beans.jpg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/beans.jpg) center/cover no-repeat fixed;
  min-height: 95vh;
}

.header .navbar__container {
  max-width: var(--mx);
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header .navbar__container .navbar__socials {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  left: 15px;
  right: auto;
}

.header .navbar__container .social__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar__container .social__follow .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 12px;
}

.header .navbar__container .social__follow .navbar__icons ul {
  float: left;
  margin: 0 0 0 -28px;
  padding: 0;
}

.header .navbar__container .social__follow .social-icons ul li {
  padding: 0px 15px;
  position: relative;
}

.header .navbar__container .social__follow .social-icons ul li::before {
  content: "";
  border: 1px solid var(--main-green);
  border-color: var(--main-green);
  border-radius: 50%;
  background-clip: border-box;
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}

.header .navbar__container .social__follow .social-icons ul li .uil {
  color: var(--main-green);
  font-size: 16px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.header .navbar__container .navbar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar__container .navbar__icons li {
  padding: 0px 15px;
  position: relative;
}

.header .navbar__container .navbar__icons li::before {
  content: "";
  border: 1px solid var(--main-green);
  border-color: var(--main-green);
  border-radius: 50%;
  background-clip: border-box;
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  pointer-events: none;
}

.header .navbar__container .navbar__icons .uil {
  color: var(--main-green);
  font-size: 16px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.navbar__items ul {
  margin-left: 830px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__items ul li {
  padding: 0 15px;
  font-size: 1.2rem;
  font-family: var(--inter);
}

.header-content {
  z-index: 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 150px;
}

.header-content .title-heading {
  color: var(--white);
  font-size: var(--heading-size);
  line-height: 1.2;
  letter-spacing: 1px;
}

.header-content .title-heading span {
  color: var(--main-green);
}

.header-content .text {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.7em;
  font-family: "Jost", sans-serif;
  font-family: var(--poppins);
  font-weight: 400;
  letter-spacing: var(--font-main-letterspacing);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
  background-color: #343c35;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%234d8b55' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.hero__image {
  max-width: var(--mx);
  display: block;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.hero__image img {
  height: auto;
  max-width: 100%;
  width: 700px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero__container {
  width: 100%;
  background-color: white;
  margin: 0 auto;
  max-width: var(--mx);
}

.hero-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  margin: 0 auto;
  max-width: var(--mx);
}

.hero-row .hero__text {
  width: 50%;
}

.hero-row .hero__text-wrap {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-row .hero__text-wrap .wraps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 0px;
}

.hero-row .hero__pic {
  width: 50%;
  width: 600px;
  margin-left: 100px;
  position: relative;
}

.wrap-heading {
  font-size: 4rem;
  color: black;
}

.wrap-heading span {
  color: var(--main-green);
}

.ptext {
  margin-top: 0;
  font-size: 1.8rem;
  line-height: 1.7em;
  font-family: var(--poppins);
  font-weight: 400;
  letter-spacing: var(--font-main-letterspacing);
}

.hero__contact-container {
  margin: 30px 0px 48px 32px;
}

.hero__contact-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__contact-container ul .inner-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: var(--inter);
}

.hero__contact-container ul .inner-icon i {
  padding: 0 10px;
  color: var(--main-green);
  font-size: 2.3rem;
}

.btn {
  position: relative;
  overflow: hidden;
  background-clip: border-box !important;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.25s, color 0.25s, border 0.25s !important;
  transition: background 0.25s, color 0.25s, border 0.25s !important;
  border-radius: 48px;
  background-clip: border-box;
  font-family: var(--poppins);
  font-weight: 700;
  letter-spacing: var(--font-headers-letterspacing);
  font-size: 16px;
  padding: 14px 38px 14px 38px;
  min-width: 145px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid var(--main);
  background-color: #4d8b55;
  border-color: #4d8b55;
  border-color: var(--main);
  color: #ffffff;
  color: var(--white);
  cursor: pointer;
  border: none;
  display: inline-block;
  z-index: 1;
}

.btn-green:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-green);
  z-index: -2;
}

.btn-green:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-green);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.btn-green:hover {
  color: #fff;
}

.btn-green:hover:before {
  width: 100%;
}

.btn-black {
  margin-left: 15px;
  background-color: black;
}

.circle-container {
  position: absolute;
  top: 55px;
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
}

.circle-dashed-info {
  width: 155px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-clip: border-box;
  background-color: var(--white);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.circle-dashed-info::after {
  content: "";
  border-radius: 50%;
  background-clip: border-box;
  width: 185px;
  height: 185px;
  position: absolute;
  border: 3px dashed var(--main-green);
  border-color: var(--main-green);
}

.heading-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.3;
}

.lt-header {
  font-size: 3rem;
  color: var(--main-green);
  font-family: var(--poppins);
}

.subheader {
  font-size: 1.2rem;
  color: black;
  padding-top: 0;
  font-family: var(--poppins);
}

.products {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(/img/bg-products.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/bg-products.jpg) center/cover no-repeat;
  height: 90vh;
}

.products__wrap {
  margin: 0 auto;
  max-width: var(--mx);
}

.products__heading {
  text-align: center;
  line-height: 1.4;
  padding: 0 150px;
}

.products__heading h6 {
  padding-top: 150px;
  font-size: 2.2rem;
  font-family: var(--poppins);
  color: black;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  min-width: 600px;
  margin-top: 75px;
}

.image-wrapper {
  border-radius: 50%;
  background-clip: border-box;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 260px;
}

.image-wrapper .lte-img {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  display: block;
  border-radius: 50%;
  background-clip: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-position: 50%;
}

.image-wrapper .count-label {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  left: -24px;
  background-color: var(--main-green);
  border-radius: 50%;
  padding: 5px;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #4d8b55;
  color: #ffffff;
  color: var(--white);
  border-radius: 50%;
  background-clip: border-box;
  font-size: 36px;
  font-family: "Poppins", serif;
  font-family: var(--font-headers), serif;
  font-weight: 700;
  letter-spacing: var(--font-headers-letterspacing);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lte-headers {
  text-align: center;
  line-height: 1.4;
  font-size: 2.5rem;
  font-family: var(--poppins);
  color: black;
  margin-top: 25px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.lte-headers:hover {
  color: var(--main-green);
}

.lte-excerpt {
  text-align: center;
  padding: 0 15px;
  padding-top: 15px;
  line-height: 1.5;
  color: #232222;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: var(--poppins);
}

.aroma {
  width: 100%;
}

.aroma .aroma-container {
  margin: 0 auto;
  height: 80vh;
  padding: 0 auto;
}

.aroma .aroma-container .aroma-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 100%;
}

.aroma .aroma-container .aroma-row .aroma-img {
  width: 33.333%;
  background-image: url(/img/aroma_photo_01.jpg);
  background-size: cover !important;
}

.aroma .aroma-container .aroma-row .aroma-text {
  width: 33.333%;
  background-color: var(--main-green);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 139, 85, 0.8)), to(rgba(77, 139, 85, 0.8))), url(/img/coffee-plant-transparent.png) center/cover no-repeat;
  background: linear-gradient(rgba(77, 139, 85, 0.8), rgba(77, 139, 85, 0.8)), url(/img/coffee-plant-transparent.png) center/cover no-repeat;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content {
  padding-top: 150px;
  padding-left: 30px;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content .aroma-headers {
  line-height: 1.4;
  font-size: 6.4rem;
  font-family: var(--poppins);
  color: white;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content span {
  color: black;
  font-size: 6.4rem;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content .aroma-p {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 1.7em;
  font-family: var(--poppins);
  font-weight: 400;
  color: white;
  letter-spacing: var(--font-main-letterspacing);
  padding: 0 10px;
}

.aroma .aroma-container .aroma-row .aroma-text .lte-heading-content .aroma-btn {
  margin-top: 75px;
}

.aroma .aroma-container .aroma-row .aroma-img-two {
  background-color: yellow;
  background-image: url(/img/aroma_photo_02.jpg);
  background-size: cover !important;
  width: 33.333%;
}

.coffee {
  width: 100%;
  padding-bottom: 100px;
}

.coffee .coffee__container {
  margin: 0 auto;
  height: 95vh;
  width: 1780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 95px;
}

.coffee .coffee__container .coffee__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee .coffee__container .coffee__row .coffee__text-1 {
  width: 25%;
  height: 100%;
  margin-top: 250px;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons {
  list-style: none;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li {
  margin-bottom: 90px;
  width: 100%;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-grades .icon {
  margin-right: 15px;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-grades img {
  width: 50px;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-content {
  margin: -5px 0 0 25px;
  -webkit-margin-start: 25px;
          margin-inline-start: 25px;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.coffee .coffee__container .coffee__row .coffee__text-1 .coffee-text-wrap .coffee-icons li .coffee-inner .icon-content .lte-desc {
  font-size: 1.6rem;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  margin-top: 0px;
  display: block;
  padding-right: 15px;
  line-height: 1.7;
}

.coffee .coffee__container .coffee__text-2 {
  width: 25%;
  height: 100%;
  margin-top: 250px;
}

.coffee .coffee__container .coffee__text-2 .coffee-inner-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 90px;
}

.coffee .coffee__container .coffee__text-2 .coffee-inner-2 .icon-quality .icon {
  margin-left: 15px;
}

.coffee .coffee__container .coffee__text-2 .coffee-inner-2 .icon-quality img {
  width: 50px;
}

.coffee .coffee__container .coffee__text-2 .lte-desc-2 {
  font-size: 1.6rem;
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
  margin-top: 0px;
  display: block;
  line-height: 1.7;
  text-align: right;
}

.coffee .coffee__container .coffee__pic {
  width: 50%;
  height: 100%;
  margin-top: 150px;
}

.coffee-video {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/overlay-bg.jpg) center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/overlay-bg.jpg) center/cover no-repeat;
}

.coffee-video .video-container {
  margin: 0 auto;
  height: 90vh;
  width: 1780px;
}

.coffee-video .video-container .video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coffee-video .video-container .video-wrapper .videospacer {
  height: 175px;
  width: 100%;
}

.coffee-video .video-container .video-wrapper .video-headline {
  text-align: center;
  color: white;
}

.coffee-video .video-container .video-wrapper .video-headline .video-heading {
  font-size: 7rem;
  color: var(--main-green);
  font-family: var(--poppins);
}

.coffee-video .video-container .video-wrapper .video-watch {
  text-align: center;
  color: white;
}

.coffee-video .video-container .video-wrapper .video-watch .watch-heading {
  font-size: 8rem;
  font-family: var(--poppins);
}

.coffee-video .video-container .video-wrapper .video-btn {
  text-align: center;
  font-size: 10rem;
  margin-bottom: 50px;
}

.coffee-video .video-container .video-wrapper .video-btn .uil-play {
  color: white;
}

.numbers {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url(/img/green_parallax.jpg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/img/green_parallax.jpg) center/cover no-repeat fixed;
}

.numbers .numbers-container {
  height: 500px;
  margin: 0 auto;
  width: 1780px;
}

.numbers .numbers-container .number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers .numbers-container .number-wrapper .numberspacer {
  height: 100px;
  padding: 0;
  width: 100%;
}

.numbers .numbers-container .number-wrapper .number-figs {
  height: 200px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex .count-heading {
  font-family: var(--poppins);
  line-height: 1em;
  position: relative;
  margin-bottom: 6px;
  color: white;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex .count-heading .count-anim {
  font-size: 10rem;
}

.numbers .numbers-container .number-wrapper .number-figs .center-flex .subheader-count {
  margin: 0px 0 0;
  font-size: 24px;
  color: white;
}
/*# sourceMappingURL=style.css.map */